html {
    scroll-behavior: smooth;
}  

body {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    transition: 0.5s;
}

a {
    text-decoration: underline 1px rgba(0, 0, 0, 0);
    text-underline-offset: 5px;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    color: inherit;
}

li a:hover {
    text-decoration-color: rgba(0, 0, 0, 0.5);
    text-underline-offset: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* NAVBAR */

navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 40px;
    padding: 0;
    list-style-type: none;
    margin-bottom: 30px;
}

.push {
    flex: 1;
    min-width: 140px;
}

.push span {
    color: rgb(61, 190, 61);
}

#light-switch {
    float: right;
    width: 30px;
    height: auto;
}

#light-switch:hover {
    cursor: pointer;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

intro h1 {
    font-size: 60px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* INTRO */

.intro {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.intro img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.intro div {
    max-width: 700px;
    text-align: center;
}

/* PROJECTS */

.projects {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 40px;
}

.project-card {
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: white;
    margin: 20px;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.5s
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 0.5s;
}

.project-card > img {
    height: 240px;
    width: auto;
    border-radius: 5%;
}

.project-card h3 {
    font-size: 30px;
    margin: 0;
}

.project-info p {
    margin: 10px 0;
    font-size: 18px;
}

.project-info a {
    margin-top: 30px;
    font-size: 14px;
    padding: 7px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
}

.project-info a:hover {
    font-size: 15px;
    transition: 0.5s;
}

.technologies {
    display: flex;
    margin: 16px 0;
    gap: 20px;
}

.technologies img {
    height: 45px;
    width: auto;
}

/* CONTACTS */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.links {
    display: flex;
    gap: 40px;
}

.links img {
    width: 50px;
    height: auto;
}

/* FOOTER */

footer {
    text-align: center;
    margin: 50px 0 30px;
    font-size: 15px;
}

/* RESPONSIVITY */

@media (min-width: 0px) and (max-width: 1000px) {
    .project-card {
        display: flex;
        flex-direction: column;
    }

    .project-card > img {
        margin-top: -75px;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
